.header {
  background-color: black;
  color: blanchedalmond;
  padding: 20px;
  font-size: larger;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
.butt {
  display: flex;
  justify-content: space-between;
}
