.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
  padding: 10px;
}
.container {
  width: 350px;
  border: 1px solid grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}
.container > h1 {
  margin-bottom: 10px;
}
.container > form > h5 {
  margin-bottom: 10px;
}
.container > p {
  margin-bottom: 10px;
  font-size: 13px;
}
.container > form > input {
  width: 98%;
  height: 30px;
}
.register {
  background-color: #f0c14b;
  border: 1px solid;
  width: 98%;
  margin-top: 10px;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}
.create {
  border: 1px solid;
  width: 98%;
  margin-top: 10px;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}
